<!--

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form">
          <span class="login100-form-logo">
            <i class="zmdi zmdi-landscape"></i>
          </span>

          <span class="login100-form-title p-b-34 p-t-27">
            Log in
          </span>

          <div class="wrap-input100 validate-input" data-validate="Enter username">
            <input class="input100" type="text" placeholder="Username" name="Username" [(ngModel)]="loginModel.Username">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" placeholder="Password" name="Password" [(ngModel)]="loginModel.Password">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter workspace">
            <input class="input100" type="workspace" placeholder="workspace" name="WorkspaceName" [(ngModel)]="loginModel.WorkspaceName">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>

          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn" (click)="getLogged()">
              Login
            </button>
          </div>



          <div class="text-center p-t-90">
            <a class="txt1" href="#">
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>


  -->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Login</h1>
    </mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <div class="InputContent">
    <mat-card-content>
      <form class="example-form">

        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="Username" [(ngModel)]="loginModel.Username">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="Password" [(ngModel)]="loginModel.Password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [ngModelOptions]="{standalone: true}" matInput placeholder="WorkspaceName" [(ngModel)]="loginModel.WorkspaceName">
        </mat-form-field>
      </form>
    </mat-card-content><br><br>
    <mat-card-actions class="buttonCss">
      <button mat-raised-button color="primary"  (click)="getLogged()">Login</button>
    </mat-card-actions>
  </div>
</mat-card>
