<!-- <button type="button" (click)="getWorkspace()" >Create a new Workspace</button>
<button type="button">Join</button> -->

<mat-toolbar color="primary">TL;DM
  <button mat-stroked-button color="Basic" class="join"> Join Now!</button>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<body>
  <!-- <button mat-raised-button color="primary" (click)="getStart()">Get Started</button> -->
  <button  mat-stroked-button color="primary" class="getWorkspace" (click)="getWorkspace()">Create Your Own Workspace</button>
  <div class="bg"></div>

</body>
